extends layout.pug

block content
  h1= title
  p Welcome to #{title}
  form
    input(type=text)//영화제목
    input(type=text)//출연진
    input(type=text)//장르
    input(type=text)//영화포스터이미지 url

    input(type=radio name="rating")
    input(type=radio name="rating")
    input(type=radio name="rating")
    input(type=radio name="rating")
    input(type=radio name="rating")
    input(type=radio name="rating")

    input(type=submit)




