extends layout

block content
  h1(id="htitle") < Movies >
  ul(id="movielist")
    each movie in movies
      div(id="content")
        p
        p
        img(src=`${movie.url}`)

        h2 #{movie.title} / #{movie.year}
        -if (movie.trending === true)
              img(src='/images/star.svg' width="30" height="30")
        -if (movie.trending === false)
              img(src='/images/bstar.svg' width="30" height="30")

        br
        p
  p
  p
  br
  h1(id="ttitle") < Trending Movie >
  ul(id="tmovielist")
      each tmovie in movies
        div(id="tcon")
          p
          p
          -if(tmovie.trending ===true)
              img(src=`${tmovie.url}`)
              br
              h2 #{tmovie.title} / #{tmovie.year}
                img(src='/images/star.svg' width="30" height="30")





